Nova for Java 

  One of my other projects was in need of an Astronomical Calculation Library for java that has a LGPL license, easy API and is available in the central repository. And there was just nothing there.

  Then there was libnova at sourceforge that is written in plan c, has an easy API and especially it has a LGPL licence. So I decided to make a 1:1 port of the libnova library for java and make it available in the central repository, novaforjava was born! When you read the code/API keep in mind it is a 1:1 port. This means it is not „beautiful“ or „fancy“ java, just plain old static methods and classes with public fields. I will keep it this way to ensure that changes/bugfixes in libnova can be included in novaforjava with minimal effort.

  All credit for typing the Astronomical Calculation library in machine readable code goes to the team of libnova, a really great "thank you" for providing them, especially because they included some tests so I could verify if my port to java is functioning correctly.

  We hope that providing this library to the community will encourage others to write Astronomical applications without the need to "understand" the complicated Mathematical stuff and the problems that come with the plain GPL license.

Download / Usage

  To use "Nova for Java" just add the dependency to your pom.xml, or get the jars from the central repository.
  
+---
...
<dependencies>
	...
	<dependency>
		<groupId>net.sourceforge.novaforjava</groupId>
		<artifactId>novaforjava</artifactId>
		<version>${project.version}</version>
	</dependency>
	...
</dependencies>
...
+---